body {
    background-color: darkseagreen;
    font-family: helvetica;
    color : green;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    font-size: 120%;
}

/*images size*/
img {
    width: 20%;
}


#A {
    background-color: green;
    color: darkkhaki;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius:  10px;
    border: 0px solid chartreuse; 
}
/* css font */
p, ol {
    margin-left: 50px;
    margin-right: 50px;
    color: green;
    font-family: helvetica;
    text-align: justify;
}

Ol.a {
    list-style-type: decimal;
    font-family: Helvetica;
    color: darkgreen;
   
}

 table, th, td {
         border: 1px solid;
        margin:auto;
      }
    table {
      width: 65%;
      }
     
#C {
    background-color: white; 
    width: auto;
    height: auto;
    border: 5px solid chartreuse;
    color: green;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-radius: 10px;
}

.visimisi {
    text-align: justify;
    color: darkgreen;
    font-size: 100%;
    font-family: Helvetica, sans-serif;
}

#li  {
    margin-left: 50px;
    margin-right: 50px;
}
    
      
#D {
    background-color: green;
    color:darkkhaki;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    border: 5px solid chartreuse; 
  } 
  
  


.wrapper-content {
    background: green;
    text-align: center;
    color:  green;
}
/*css icon*/

    

/*slideshow*/
 * {box-sizing : border-box}
        body {font-family: Verdana, sans-serif; margin:0}
        .mySlides {display: none}
        img {vertical-align: middle;}

    
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        text-align: center;
        justify-content: space-between;
        padding: auto;
        margin: auto;
        }

    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 30%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: darkgreen;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        }

    .prev {
        left: 20%;
        border-radius: 3px 0 0 3px;
        }
        
    .next {
        right: 20%;
        border-radius: 3px 0 0 3px;
        }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        }

    .text {
        color: darkgreen;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        }

    .active, .dot:hover {
        background-color: #717171;
        }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
        }
    
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}





.parback2 {
    border-radius: 5px;
    background-color:  green ;
    color: darkkhaki;
    text-align: center;
    padding-bottom: 2%;
    margin-right: 60%;
    
}


.parback3 {
    border-radius: 5px;
    background-color:  green ;
    color: darkkhaki;
    text-align: center;
    padding-bottom: 2%;
    margin-left : 60%;
    
}


    
   


    

.Denahtengah {
    float: inline-start;
    width: 95%;
    height: 50%; 
    padding-bottom: 0%;

}


.back {
    background-image: url(gambar/A.jpg);
    background-size:cover ;
    padding-top: 0%;
    padding-bottom: 40%;
    background-attachment: fixed;
}

.parback {
    border-radius: 5px;
    background-color: green ;
    color: darkkhaki;
    text-align: center;
    padding-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
}

.paragraf {
    background-color: gray;
    color: darkgreen;
    font-size: large;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 12px;
}

/*link*/  
a:link {
    color: black;
  }
  
  a:visited {
    color: indigo;
  }
  
 
  a:hover {
    color: blanchedalmond;
  }
  
  a:active {
    color: chartreuse;
  }

.image{
    display: block;
    margin: auto;
}
  
.footer {
    left: 0;
    bottom: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    background-color:green;
    background-size: cover;
    color: darkkhaki;
    font-family: monospace;
    text-align: left;
   

    


 .Nama {
    font-family: monospace;
    color: darkkhaki;
    padding-left: 15px;
    padding-bottom: 1%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;

 }











  



   
