/*ini adalah comment*/

/*reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
}

img {
    width: 20%; /*ukuran gambar*/
   
}

/*paragraf*/
p {
    background-color: white;
    color: black;
    font-family: 'Franklin Gothic';
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
}

ul {
    padding-left: 64px;
    color: black;
    font-family: 'Franklin Gothic';
}

/*link*/
a {
    color: white;
}

table {
    padding-left: 20px;
    padding-top: -5%;
    padding-bottom: 2% ;
    width: 100%;
    border-left: 2px solid red;
    margin-left: 12px;
    font-family: 'Franklin Gothic';
}


.wrapper-content {
    background: white;
    text-align: center;
    color: black;
    
}

/*class*/
.pback {
    border-radius: 10px;
    background-color: brown;
    color: white;
    text-align: center;
    padding-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
}


.back {
    background-image: url(GAMBAR/Background.jpeg);
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 40%;
    background-attachment: fixed;
}

.head {
    border-radius: 10px;
    background-color: burlywood;
    color: white;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.head2 {
    color: white;
    background: black;
    text-align: center;
}


.par {
    background-color: black;
    color: white;
    padding-top: 0;
    padding-left: 10px;
    border-left: 2px solid bisque;
    margin-left: 12px;
}

.wrapper-list {
    background-color: black;

}

.NAMA {
    position: absolute;
    bottom: -3300px;
    background-color: rgb(187, 185, 194);
    color: bisque;
    padding-left: 10px;
    padding-bottom: 1%;
    text-align: left;
    border: 2px solid rgb(95, 96, 155);
}
